body {
    background-image: linear-gradient(to right,#e3e3e3,#e3e3e3 );
    justify-content: center;
    justify-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

nav{
  position: fixed;
  z-index: 3;
  background-color: #000;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;  
}
@media(max-width:800px){
  .nav{
    width:790px;
  }
}
@media(max-width:480px){
  .nav{
    width: 470px;
  }
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.flexContent{
  align-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
}

#instagram:hover{
  
  box-shadow: 0rem 0rem 1rem 1rem #ff3377;
}
#instagram{
  border-radius:50%;
  transition: 0.8s;
}

#twitter:hover{
  
  box-shadow: 0rem 0rem 1rem 1rem #0099ff;
}
#twitter{
  border-radius:50%;
  transition: 0.8s;
}

#linkedin:hover{
  
  box-shadow: 0rem 0rem 1rem 1rem #3366ff;
}
#linkedin{
  border-radius:50%;
  transition: 0.8s;
}

#facebook:hover{
  
  box-shadow: 0rem 0rem 1rem 1rem #336699;
}
#facebook{
  border-radius:50%;
  transition: 0.8s;
}

.footer {
  height: fit-content;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  /*position: absolute;*/
  left: 0; right: 0; bottom: 0;
  clear: both;
}

.flexContainer2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.link{
  text-decoration: none;
  color: #e3e3e3;
}
